#slides_control > div{
  height: 200px;
}
.imagediv img{
	/*border-style: 10px solid black; 
  margin:auto;*/
  width: 400px;
  height: 500px;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
 margin-left:-200px;
}