<img class="item_show_image" src="/images/default.jpg"></img>
<div class="item_show_container">
  <div class="item_show_name"><%= @item.name %></div>
  <table class="item_table">
    <tr class="item_table_tr">
      <td class="item_table_td_left">Price</td>
      <td class="item_table_td"><%= @item.price %></td>
    </tr>
    <tr class="item_table_tr">
      <td class="item_table_td_left">MRP</td>
      <td class="item_table_td"><%= @item.mrp %></td>
    </tr>
  </table>
</div>
