div#nav {
  text-align: center;
}

a {
  text-decoration: none;
}

@media only screen and (min-device-width: 769px) {
  div#nav {
    float: left;
    width: 20%;
    min-height: 800px;
    background: #cdd0d6;
  }
  #nav_home {
    padding-top: 10px;
  }
  #nav_back {
    padding-top: 10px;
  }
  div#rightcontainer {
    float: left;
    width: 80%;
    min-height: 800px;
  }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 768px) {
  div#nav {
    height: 50px;
    background: #cdd0d6;
    padding: 10px;
  }
  div#rightcontainer {
    width: 100%;
  }
  #nav_home {
    float: left;
  }
  #nav_back {
    float: right;
  }
}

div.item_box {
  border: 1px solid gray;
  box-sizing: border-box;
  float: left;
  height: 250px;
  width: 200px;
  margin-left: 0.5%;
  margin-bottom: 0.5%;
}

div.item_name {
  text-align: center;
  font-family: monospace;
  font-size: 20px;
}

div.item_price {
  float: left;
  padding-left: 20px;
  font-size: 20px;
}

div.item_mrp {
  float: left;
  padding-left: 20px;
  text-decoration: line-through;
}

td.item_mrp {
  text-decoration: line-through;
}

img.item_image {
  object-fit: contain;
  position: center;
  height: 75%;
  width: 100%;
}

div.item_show_container {
  text-align: center;
  background-color: #eaecef;
  box-sizing: border-box;
  float: left;
  width: 40%;
}

img.item_show_image {
  width: 20%;
  float: left;
  margin: 0 10px 0 10px;
}

div.item_show_name {
  background-color: #b8bbc1;
  font-size: 20px;
  font-weight: bold;
}

td.item_table_td_left {
  box-sizing: border-box;
  background-color: #d0d5db;
}

td.item_table_td {
  box-sizing: border-box;
}

tr.item_table_tr {
  width: 100%;
  box-sizing: border-box;
}

table.item_table {
  width: 100%;
  box-sizing: border-box;
}

div.review_container {
  min-height: 150px;
}
