html,body { height:100%; }

div#nav {
  float: left;
  width: 20%;
  min-height: 150%;
  background: #cdd0d6;
  box-sizing: border-box;
}

div#rightcontainer {
  float: right;
  margin-left: 1%;
  width: 79%;
  height: 100%;
}

div.item_box {
  border: 1px solid gray;
  box-sizing: border-box;
  float: left;
  width: 20%;
  height: 250px;
}

div.item_name {
  text-align: center;
  font-family: monospace;
  font-size: 20px;
}

div.item_price {
  float:left;
  padding-left: 20%;
  font-size: 130%;
}

div.item_mrp {
  float:right;
  padding-right: 20%;
  text-decoration: line-through;
}

td.item_mrp
{
  text-decoration: line-through;
  font-size: 90%;
}

img.item_image {
  object-fit: contain;
  position: center;
  height:75%;
  width:100%;
}

div.item_show_container
{
  text-align: center;
  background-color: #eaecef;
  box-sizing: border-box;
  float:left;
  width: 40%;
}

img.item_show_image
{
  width:20%;
  float:left;
  margin: 0 10px 0 10px;
}

div.item_show_name
{
  background-color: #b8bbc1;
  font-size: 20px;
  font-weight: bold;
}

td.item_table_td_left
{
  box-sizing: border-box;
  background-color: #d0d5db;
}

td.item_table_td
{
  box-sizing: border-box;
}

tr.item_table_tr
{
  width: 100%;
  box-sizing: border-box;
}

table.item_table
{
  width: 100%;
  box-sizing: border-box;
}

div.review_container
{
  min-height: 150px;
}
