div#login-container
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-width: 1px;
  padding: 15px;
  box-shadow: 5px 5px 20px 5px black;
  border-radius: 5px;
  background-color: #d9dbdd;
}

img#login-user
{
  width: 40px;
  height: 40px;
  display:block;
  margin:auto;
}

.login-textbox
{
  padding-top: 10px;
}

#login-button
{
  margin-top: 10px;
}

#notice
{
  text-align: center;
}

body
{
    background-image: url("/images/login-background.jpg");
}
