<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= stylesheet_link_tag "layout_style" %>

  </head>
  <body>
    <p style="color: green"><%= notice %></p>
    <div id="nav">
      <a href="/"> <div id="nav_home">Home</div> </a>
      <%= link_to "<div id='nav_back'>Back</div>", '', :onclick => "history.back()", :id => "nav_back"%>
    </div>
    <div id="rightcontainer">
      <%= yield %>
    </div>

  </body>
</html>
